.Skills{
    width: 60%;
    margin: auto;
    color: #fff;
    margin-top: 3%;
}
.Skills h1{
    color: #00D4FF;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #00D4FF;
    background-color: #0A2540 !important;
}
.title-text{
   
}