.about{
    color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 15%;
}
.aboutMe{
   font-size: 3rem !important;
   color: #E1E4E8 ;
   letter-spacing: 3px;

   font-family: 'Times New Roman', Times, serif;
}
.avatar {
    margin-left: 20%;
    margin-top: -10%;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    /* filter: drop-shadow(20px 10px #ccc); */
    /* box-shadow: 3px 3px 1px #ccc; */
  }
  .about h1{
      color: #00D4FF;
  }

