.Contact{
    width: 50%;
    margin-top: 20%;
    align-items: center;
    float: center;
    margin: auto;
    color: #fff;
}
.Contact h1{
    color: #00D4FF;
}
.spanText{
    font-size: 14px;
    line-height: 18px;
   
    
}
.sayHello{
    margin-top: 2%;
    top: 5%;
    border: 1px solid black;
    border-radius: 4px;
    width: 15%;
    height: 40px;
    color: #fff;
    background-color: #00D4FF;
    
}
.sayHello:hover{
    color: #00D4FF;
    background-color: #fff;


}