body{
    background-image: linear-gradient(to right top, #051937, #061a37, #071a37, #081b36, #091b36);
}
a{
    color: #0582A5 !important;
}
.headerbody
{
    /* height: 100vh; */
    /* margin-top: 1%; */
}
.logo{
    margin-left: -50%;
    margin-top: -2em !important;
    height: 58px;
    width: 58px;
}
.Navbar{
    position: fixed;
}
.navbar-div{
width: 100%;
position: fixed;
}
.navLink{
    color: #fff !important;
}
.navLink:hover{
    color: #0582A5 !important;
}
.centerDiv{
    width: 60%;
    margin-top: 12%;
    margin-left: 20%;
    color: #fff;
   
}
.centerDiv h6{
    color: #00D4FF;
    font-size: 1.5 rem;

}
.centerDiv h2{
    font-size: 2.8 rem;
}
.centerDiv h3{
    font-size: 40px !important;
    color: #8892b0;
}
.about{
    width: 40%;
    
}

.aboutText{
    /* font-family: 'Heebo', sans-serif; */
    font-size: 18px;
    color: #a8b2d1;
    width: 50% !important;
    /* letter-spacing: 0.1em; */
    
}

.commonfield{
    height:120px;
    margin-left: 50%;
    width: 50%;
    border-radius: 4px;
    border: none;
    background-color: #051937;
}

.common-btn{
    background-color: #00D4FF;
    color: #fff;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3%;
    margin-top: -1%;
}

/* Btn one */
.btn_one {
    color: #FFF;
    position: relative;
    margin-left: 20%;
    margin-top: -2%;
    background-color: #0582A5;
  }
  .btn_one span {
    transition: all 0.3s;
  }
  .btn_one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    /* background-color: #091b36;
    /* color: #fff; */
    /* border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5); */ 
    transform: scale(0.1, 1);
  }
  .btn_one:hover span {
    letter-spacing: 2px;
    color: #fff;
  }
  .btn_one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn_one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    color: #fff;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn_one:hover::after { 
    transform: scale(0.1, 1);
  }


  
/* End of btn one   */

.typicalText{
    color: #BDBDBD ;
    font-size: 20px;

}
.svgImage{
    margin-top: 10%;
    margin-left: 0%;
}

.fixedText{
    margin-left: 5%;
    position: fixed;
    letter-spacing: 15px;
    color: #fff;
    margin-top:  -220px;
    font-size: 12px;
}
.vertical {
    border-left: 2px solid white;
    height: 200px;
    position:absolute;
    left: 90%;
    margin-top: 20px;
}
.vertical2 {
    border-left: 2px solid white;
    height: 200px;
    position:absolute;
    left: -38%;
    margin-top: 5px;
}
.fixedTextRight{
    float: right;
    color: #fff !important;
    position: fixed;
    right: 10px;
    margin-top: -200px;

}
.profileText{
    text-orientation:  sideways-right;;
    writing-mode: vertical-rl;
    color: #ffff;
    font-size: 14px;
    margin-top: -50px;
    margin-left: -70%;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}
.profileText:hover{
    color: #00D4FF;
}
.fa-google{
    color: #c4c4c4;
}
.fa-instagram{
    color: #c4c4c4;
}
.fa-twitter{
    color: #c4c4c4;
}
.fa-github{
    color: #c4c4c4;

}
.fa-linkedin{
    color: #c4c4c4;
}
.fa-google:hover{
    color: #00D4FF;
}
.whitespace{
    height: 12px;
}
/* .fa {
    color: #fff !important;
} */

/* .readbtn a{
    border: 2px solid #00D4FF;
    margin: 40px;
    width: 130%;
    height: 130%;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient (transparent, #0002);
    transition: 0.5s;
}
.readbtn a::after
{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #0f0;
    box-shadow: 5px -8px 0 #0f0; 

}
.readbtn a::hover::before
{
    width: 60%;
    height: 100%;
    left: -2%;
} */